
body {
	background-color:#eecb9a;
	font-family:'Kollektif';
	color:white;
}

.images {
	height:20em;
	width:42.5em;
}

.flex {
	display:flex;
}

.cv-body {
	background-color:#474c5f;
}

.cv {
	height: 60vh;
}

	
.hide {
	display: none;
}

.banner {
	height:20em;
}

.banner-image{
	background-image:url("../images/banner-image.PNG");
	background-size:auto auto; 
	background-repeat: no-repeat;
}

.left {
	padding-left:3em;
}

.right {
	padding: 4.5em 0 0 3em;
}

.experience {
	height: 23em;
}
.profile {
	height: 15em;
}
.education {
	height:14em;
	position: relative;
	top:-2em;
}
.skills {
	height:14em;
	position: relative;
	top:-1em;
}
.interests {
	height:13em;
	position: relative;
	top:-8em;
}

.portfolio {
	height:4em;
	position: relative;
	top:9em;
}


.cv-end {
	height:25em;
	position: relative;
	top:-5em;
}

.end-cover {
	height: 25em;
	position:relative;
	top:-11em;
	z-index:1;
}

.slick-arrow {
	z-index: 100;
}



h3 {
		text-align: center;
}

@media only screen and (min-width: 760px) { 

	.experience {
		height: 24em;
	}

	.profile {
		height: 15em;
	}

	.education {
		height:14em;
		position: relative;
		top:-9em;
	}

	.skills {
		height:14em;
	}

	.interests {
		height:13em;
		position: relative;
		top:-9em;
	}

	.portfolio {
		position: relative;
		top:-2em;
	}

	.cv-end {
		position: relative;
		top: -10.99em;
	}

	.cv-left {
		border-right:1px white solid;
	}
	.cv-right {
		border-left:1px white solid;
	}
	

}
